html {
  background-color: ;
}

a {
  color: #;
}

a:hover {
  color: #;
  text-decoration: underline;
}

figure figcaption {
  font-style: italic;
  text-align: center;
}

p {
  font-size: 1.5rem;
  font-weight: bold;
}

p strong {
  font-weight: bold;
}

blockquote {
  font-style: italic;
  font-size: 2rem;
}
